body{
	background-color: black;
	color: white;
	/*font-family: 'VT323', monospace;*/
	font-family: 'Press Start 2P', monospace;
}
.progress{
	background-color: black;

}
#comboTitle{
	color: white;
}
#comboValue{
	color: white;
}
button{
	background-color: black;
}
#life-bar-container{
	/*width: 45%;*/
	height: 30px;
	border: 4px solid white;
	background-color: black;
		

	
}
#bar-text{
	font-family: 'VT323', monospace;
	letter-spacing: 0.5px;
	font-size: 18px;
	margin: none;
	position: absolute;
	/*top: -2px;*/
	left: 30px;

}
.hitAnimate{
	animation: hit .1s linear 0s infinite alternate;
	/*border-color: yellow;*/
}
.criticalAnimate{
	animation: hit 1s linear 0s infinite alternate;
}
#life-bar{
	background-color: red;

}
.scoreHead{
	color: yellow;
	text-shadow: 1px 1px red;
}
.scoreText{
	color: cyan;
	text-shadow: 1px 1px white;
}
#answerStr{
	color: white;
	margin: auto;
}
.panel{
	
	background-color: black;
	border: 2px solid white;
	color: white;
	
}
.panel-heading{
	font-family: 'VT323', monospace;
	letter-spacing: 0.5px;
	font-size: 18px;

}
p{
	font-family: 'VT323', monospace;
	letter-spacing: 0.5px;
	font-size: 18px;
}

@keyframes hit {
	0% {border-color: white; color: white;}
	50% {border-color: yellow; color: yellow} 
	100%{border-color: white; color: white;}
}